---
---

@import "{{ site.theme }}";

body {
  /* background-color: #0d1117; */
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, #000000 70.2%);
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}
h1, h2 {
  color: #fff;
}
a {
  color: #fff;
}

.twitter, .linkedin {
  margin-right: 5px;
}

.twitter {
  background-color: #fff;
}