---
---

@import "{{ site.theme }}";

body {
  background-color: #0d1117;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}
h1, h2 {
  color: #fff;
}
